<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" *ngIf="pelicula.poster_path" [src]="'http://image.tmdb.org/t/p/w500/'+pelicula.poster_path" [alt]="pelicula.title">
    <div class="card-body">
        <h4 class="card-title">{{ pelicula.title }}</h4>
        <!-- https://stackoverflow.com/questions/40028456/angular-limitto-pipe-not-working 
        https://stackoverflow.com/questions/44669340/how-to-truncate-text-in-angular2-->
        <p class="card-text"> {{ (pelicula.overview.length>200)? (pelicula.overview | slice:0:200)+'...':(pelicula.overview) }} </p>
        <p class="card-text"><small class="text-muted">{{ pelicula.release_date }}</small></p>

        <button (click)="verPelicula()" type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
</div>