<div class="jumbotron jumbotron-fluid">
    <div class="container main-container">
        <h1 class="display-3">PelículasAPP</h1>
        <p class="lead">Novedades en Películas</p>
    </div>
</div>

<div class="container">
    <br>

    <app-loading *ngIf="loading"></app-loading>
    <app-peliculas-grupo *ngIf="loading==false" [titulo]="'Cartelera'" [peliculas]="peliculas"></app-peliculas-grupo>
    <!-- <div class="row">
         
        <div class="col-sm-6" *ngFor="let pelicula of peliculas; let i = index">

            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/'+pelicula.backdrop_path+' )'  }">
                    <p class="pic-titulo">{{pelicula.title}}</p>
                </div>
            </div>
       </div>
    </div> -->

</div>