<h1>
    Películas en cartelera</h1>
<div class="container">
    <!-- Grid row -->

    <div class="gallery" id="gallery">

        <!-- Grid column -->
        <div class="mb-3">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3">
            <img class="pattern-1 img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>


<h1>Populares</h1>
<div class="container">

    <!--Zoom effect-->
    <div class="view overlay zoom">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg" class="img-fluid " alt="zoom">
        <div class="mask flex-center waves-effect waves-light">
            <p class="white-text">Zoom effect</p>
        </div>
    </div>

    <!-- Hoverable -->
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="img-fluid rounded-circle hoverable" alt="hoverable">



</div>

<h1>Populares2</h1>
<div class="container">

    <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail" style="width: 200px">

</div>

<h1>Populares3</h1>

<div class="view">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(115).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(116).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img(117).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(117).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-3">

            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img(129).jpg" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>

<div class="container">
    <br>

    <h1>Cartelera</h1>
    <hr>

    <div class="row">

        <div class="col-sm-6">

            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">>
                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">>
                </div>
            </div>

        </div>

        <div class="col-sm-6">


            <div class="row">
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">>
                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( http://image.tmdb.org/t/p/w500/pTvXlfp2j6Jm8Li7NQkQCNwEzVt.jpg )'  }">
                </div>
            </div>

        </div>





    </div>