<h1 class="animated fadeIn">{{ pelicula.title | uppercase }} <small>{{ pelicula.release_date | date:'y' }}</small></h1>

<div class="row animated fadeIn fast">

    <div class="col-md-4">

        <img *ngIf="pelicula.poster_path" [src]="'http://image.tmdb.org/t/p/w500/'+pelicula.poster_path" class="img-fluid" [alt]="pelicula.title">
        <br><br>
        <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <div *ngIf="pelicula.overview">
            <h3>Sinopsis</h3>
            <hr>
            <p>
                {{ pelicula.overview }}
            </p>
        </div>
        <div *ngIf="pelicula.tagline">
            <h4>Frase célebre</h4>
            <p>
                {{ pelicula.tagline }}
            </p>
        </div>
        <p>Popularidad: <span class="badge badge-primary">{{pelicula.popularity}}</span>
            <br> Voto Promedio: <span class="badge badge-primary">{{pelicula.vote_average}}</span></p>
        <div>
            <img *ngIf="pelicula.title == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="DC">
            <img *ngIf="pelicula.title == 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="Marvel">
        </div>


    </div>

</div>