<h1>Buscar: <small>{{termino}}</small></h1>
<hr>



<div class="row">
    <div class="col">
        <input [(ngModel)]="termino" (keyup)="buscarPelicula()" type="text" class="form-control" placeholder="Buscar Película">
    </div>

</div>


<br>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="row animated fadeIn fast" *ngIf="(peliculas.length == 0)&&(termino.length > 0)">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{termino}}
        </div>
    </div>
</div>


<div class="card-columns">

    <app-pelicula-tarjeta [termino]="termino" [pelicula]="foo" [index]="foo.id" *ngFor="let foo of peliculas"></app-pelicula-tarjeta>



</div>